@mixin dspFlex {
  display: flex;
}
@mixin transition {
  transition: all 0.5s ease;
}
@mixin transition-modal {
  transition: all 0.2s ease-in-out;
}
@mixin input {
  border: 2px solid $color_input-border;
  border-radius: 5px;
  max-width: 365px;
  width: 100%;
  padding: 18px 0 18px 35px;
  margin-bottom: 11px;
  font-size: 1.5em;
  background-color: rgba(255, 255, 255, 0);
  color: #666060;
  outline: none;
}

@mixin textShadow {
  text-shadow: 0px 4px 7px #000000;
}

@mixin instaShadow {
  box-shadow: 0px 0px 5px 5px $color_orange;
}
@mixin boxShadow_product {
  box-shadow: 0px 0px 30px 0px rgba(37, 25, 2, 0.33);
}
@mixin bacground_blue {
  position: relative;
  background-color: rgba(86, 103, 229, 100%);
  width: 100%;
  border-radius: 5px;
}
@mixin bacground_white {
  width: 100%;
  background-color: $color_white;
  border-radius: 10px;
  box-shadow: 0px 0px 29px 0px rgba(35, 19, 0, 0.25);
}
@mixin changeWidth_and_color {
  @keyframes changeBox {
    50% {
      background-color: rgba(86, 103, 229, 100%);
    }
    100% {
      width: 100%;
      background-color: rgba(86, 103, 229, 0.8);
    }
  }
}
@mixin fill-animation {
  @keyframes fill {
    0% {
      transform: scaleX(0);
    }

    100% {
      transform: scaleX(1);
    }
  }
}

// delivery input

@mixin deliveryInput {
  border: 2px solid rgba(69, 91, 205, 1);
  border-radius: 4px;
  width: 100%;
  max-width: 366px;
  height: 58px;
  padding: 12px 25px;
  font-size: 1.25em;
  color: rgba(176, 176, 177, 1);
  outline: none;
}
